.main-page {
    color: white;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test {
    height: 355px;
    width: 800px;
    background: red;
}

.bottom {
}
