.portfolio-main {
    width: 75%;
    font-family: 'Inter', sans-serif;
    color: white;
}

.portfolio-main__top {
    border-bottom: 0.1px solid gray;
    height: 50%;
    width: 100%;
}

.portfolio-main__bottom__header {
    height: 30px;
    width: 100%;
    border-bottom: 0.1px solid gray;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-main__bottom__header__number, .portfolio-main__bottom__asset__number {
    flex: 0.7;
    text-align: center;
}

.portfolio-main__bottom__header__name, .portfolio-main__bottom__asset__name {
    flex: 1;
    text-align: left;
}

.portfolio-main__bottom__assets-list__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.portfolio-main__bottom__assets-list {
    width: 100%;
}

.portfolio-main__bottom__asset__name__logo__wrapper {
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-main__bottom__asset__name {
    flex: 0.6;
}

.portfolio-main__bottom__asset__name__logo {
    height: 19.5px;
}

.portfolio-main__bottom__header__24h, .portfolio-main__bottom__asset__24h {
    flex: 2;
    text-align: right;
}

.portfolio-main__bottom__header__amount, .portfolio-main__bottom__asset__amount {
    flex: 3;
    text-align: right;
}

.portfolio-main__bottom__header__average-price, .portfolio-main__bottom__asset__average-price {
    flex: 3;
    text-align: right;
}

.portfolio-main__bottom__header__worth, .portfolio-main__bottom__asset__worth {
    flex: 2;
    text-align: right;
}

.portfolio-main__bottom__header__price, .portfolio-main__bottom__asset__price {
    flex: 2;
    text-align: right;
}

.portfolio-main__bottom__header__history, .portfolio-main__bottom__asset__history {
    flex: 0.7;
}

.portfolio-main__bottom__asset__history {
    padding: 0;
    background: none;
}

.portfolio-main__bottom__asset__history img {
    height: 19.5px;
}

.portfolio-main__bottom__asset__history:hover {
    filter: brightness(0) invert(1);
}

.portfolio-main__bottom__asset {
    font-weight: 300;
    display: flex;
    height: 50px;
    /* background: linear-gradient(90deg, rgba(39, 39, 39, 0.612) 0%, rgba(0, 0, 0, 0.607) 100%); */
    border-bottom: 0.1px solid gray;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.portfolio-main__bottom__asset:hover, .portfolio-main__bottom__add-button:hover {
    background: rgba(53, 53, 53, 0.3);
    cursor: pointer;
}

.portfolio-main__bottom__add-button {
    width: 80px;
    height: 50px;
    background: none;
    border: 0.1px solid gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: background 0.2s;
}

.adding-asset-form {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 30px; */
    border-bottom: 0.1px solid gray;
}

.adding-asset-form__input {
    border: 1px solid gray;
    border-radius: 10px;
    background: none;
    height: 35px;
    color: white;
    padding: 10px;
    min-width: 0;
}

.adding-asset-form__input:focus {
    outline: none;
}

.adding-asset-form__name {
}

.adding-asset-form__amount {
}

.adding-asset-form__price {
}

.confirm-asset {
    padding:0;

}

.confirm-asset img {
    height: 15px;
}

.cancel-asset {
    padding: 0;

}

.cancel-asset img {
    height: 18px;
}

.asset-history {
    
    animation: appear 0.2s forwards;
}

.asset-history_disappear {
    animation: disappear 0.2s forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.asset-history__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.asset-history__window {
    position: relative;
    width: 40%;
    height: 50%;
    background: black;
    border-radius: 30px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.asset-history__window__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
}

.asset-history__window__close-button img {
    height: 30px
    
}

.asset-history__window__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 30px;
}

.asset-history__window__title__logo img{
    height: 40px;
}

.asset-history__window__title__name {
    font-size: 40px;
    font-weight: 700;
}

.asset-history__window__table__header {
    display: flex;
    align-items: center;
    border-top: 0.1px solid gray;
    border-bottom: 0.1px solid gray;
    height: 30px;

}

.asset-history__window__table__header__date {
    flex: 1;
    text-align: center;
}

.asset-history__window__table__header__amount {
    flex: 1;
    text-align: center;
}

.asset-history__window__table__header__price {
    flex: 1;
    text-align: center;
}

.asset-history__window__table__list__item {
    display: flex;
    align-items: center;
    border-bottom: 0.1px solid gray;
    height: 50px;
}

.asset-history__window__table__list__item__date {
    flex: 1;
    text-align: center;
}

.asset-history__window__table__list__item__amount {
    flex: 1;
    text-align: center;
}

.asset-history__window__table__list__item__price {
    flex: 1;
    text-align: center;
}