button {
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

.portfolio-side-menu {
    width: 25%;
    border-right: 0.1px solid gray;
    font-family: 'Inter', sans-serif;
    color: white;
}

.portfolio-side-menu__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    border-bottom: 0.1px solid gray;

}

.portfolio-side-menu__header h2{
    font-weight: 300;
    font-size: 30px;
}

.portfolios-list__wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    align-items: center;
    height: 85%;
    justify-content: space-between;
    overflow-y: scroll;
}

.portfolios-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;


}

.portfolios-list__item__wrapper {
    position: relative;
}

.portfolios-list__item {
    display: flex;
    height: 50px;
    background: linear-gradient(90deg, rgba(39, 39, 39, 0.612) 0%, rgba(0, 0, 0, 0.607) 100%);
    /* border: 0.1px solid gray; */
    border-radius: 20px;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    
    padding: 0 20px;


}



.portfolios-list__item:hover{
    background: rgba(0, 0, 0, 0.813);
    cursor: pointer;
}

.portfolios-list__item__left {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.portfolios-list__item__right {
    display: flex;
    justify-content: right;
    align-items: center;
    flex: 0.1;
    height: 100%;
}

.portfolios-list__item__name {
    font-weight: 600;
    flex: 2;
}

.portfolios-list__item__rename {
    display: flex;
    height: 50px;
    border: 0.1px solid gray;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

}

.portfolios-list__item__rename__input {
    background: none;
    border: none;
    border-bottom: 0.1px solid gray;
    /* border-radius: 10px; */
    height: 60%;
    /* padding: 0 10px; */
    color: white;
    transition: border-bottom 0.5s;
}

.portfolios-list__item__rename__input:focus {
    outline: none
}

.portfolios-list__item__rename__cancel img {
    height: 13px
}


.portfolios-list__item__worth {
    text-align: right;
    font-weight: 600;
    flex: 2;
}

.portfolios-list__item__pnl__icon {
    display: flex;
    justify-content: right;
    flex: 0.5;

}

.portfolios-list__item__pnl__icon img{
    height: 10px;

}

.portfolios-list__item__pnl {
    font-weight: 100;
    color: #4ECB71;
    flex: 0.9;
    text-align: right;
}

.portfolios-list__item__options-button {
    width: 10px;
    height: 30px;
    background: none;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolios-list__item__options-button:hover {
    cursor: pointer;
    background-color: rgba(52, 52, 52, 0.701);
    border-radius: 5px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
}

.portfolios-list__item__options-window__rename {
    border-radius: 10px 10px 0 0;
}

.portfolios-list__item__options-window__delete {
    border-radius: 0 0 10px 10px;
}


.portfolios-list__item__options-window {
    position: absolute;
    top: 30px;
    right: 0px;
    border-radius: 10px;
    border: 0.1px solid gray;
    background: rgb(36, 36, 36)
}

.option:hover {
    cursor: pointer;
    background: rgb(55, 55, 55)
}

.adding-portfolio-form {
    display: flex;
    height: 50px;
    border: 0.1px solid gray;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.adding-portfolio-form__input {
    background: none;
    border: none;
    border-bottom: 0.1px solid gray;
    /* border-radius: 10px; */
    height: 60%;
    /* padding: 0 10px; */
    color: white;
    transition: border-bottom 0.5s;
}

.adding-portfolio-form__input:focus {
    outline: none;
}

.error {
    border-bottom: 0.1px solid red;
    transition: all 0.5s;
}

.confirm-portfolio:hover {
    cursor: pointer;
}

.cancel-portfolio:hover {
    cursor: pointer;
}

.portfolios-list__add-button {
    width: 80px;
    height: 50px;
    border: 0.1px solid gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolios-list__add-button:hover {
    background: rgba(53, 53, 53, 0.3);
    cursor: pointer;
}

.portfolios-list__add-button img {
    height: 30px;
}