.currencies-list {
    font-family: 'Inter', sans-serif;
}

.currencies-list__wrapper {
    display: flex;
    /* background: rgba(0, 0, 0, 0.3); */
}

.currencies-list__left {
    height: calc(100vh - 88px - 390px);
    width: 400px;
    border-right: 0.1px solid gray;
}

.currencies-list__search__wrapper {
    position: relative;
    padding: 0;
    margin: 0;
}

.cancel-search-button{
    position:absolute;
    top: 10px;
    left:275px;
    width:30px;
    height:30px;
    cursor: pointer;
}


.currencies-list__search {
    height: 50px;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 0.1px solid gray;
    font-weight: 300;
    font-size: 18px;
    padding: 20px;
    color: #fff;
}

.currencies-list__search:focus {
    outline: none;
}

.currencies-list__search::placeholder {
    font-weight: 300;
    font-size: 18px;
}

.favorites-icon__wrapper {
    height: calc(75% - 50px);
    width: fit-content;
    margin: 5% auto;
}

.favorites-icon {
    height: 100%;
    opacity: 0.5;
}

.favorites-list__header {
    height: 25px;
    width: 100%;
    border-bottom: 0.1px solid gray;
    color: gray;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;

}

.favorites-list__header span {
    margin-left: 8px;
    color: gray;
}

.currencies-list__favorites__scroll {
    height: calc(100% - 75px);
    overflow: scroll;
}

.favorites-list__item__favorites-button {
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorites-list__item__name__logo__wrapper {
    flex: 0.3;
}

.favorites-list__item__name {
    color: #fff;
    flex: 0.8;
    font-size: 16px;
}

.favorites-list__item__24h {
    flex: 0.54;
    margin-right: 5px;
    text-align: right;
}

.favorites-list__item__price {
    flex: 1.2;
    text-align: right;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}

.favorites-list__item__dummy {
    flex: 0.2;
}

.currencies-list__right {
    height: calc(100vh - 88px - 390px);
    width: 100%;
}

.currencies-list__header {
    height: 30px;
    width: 100%;
    border-bottom: 0.1px solid gray;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    
}

.currencies-list__header__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.currencies-list__header__favorites-button {
    flex: 0.4;
}

.currencies-list__header__number {
    flex: 0.7;
    text-align: center;
}



.currencies-list__header__name {
    flex: 1;
    text-align: left;
}

.currencies-list__header__24h {
    flex: 2;
    text-align: right;
}

.currencies-list__header__market-cap {
    flex: 3;
    text-align: right;
}

.currencies-list__header__volume-24h {
    flex: 3;
    text-align: right;
}

.currencies-list__header__price {
    flex: 2;
    text-align: right;
}

.currencies-list__header__dummy {
    flex: 1;
}

.currencies-list__scroll {
    height: calc(100% - 30px);
    overflow: scroll;
}

.currencies-list__container {
    width: 1195.6px;
    height: 5000px;
}

.currencies-list__item__wrapper, .favorites-list__item__wrapper {
    width: 100%;
    height: 50px;
    border-bottom: 0.1px solid gray;
    cursor: pointer;
}

.currencies-list__item, .favorites-list__item {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.636);
}

.currencies-list__item__wrapper:hover, .favorites-list__item:hover {
    background: rgba(53, 53, 53, 0.3);
}

.currencies-list__item__favorites-button {
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: right;
}

.favorites-button {
    height: 18px;
    width: 18px;
}

.favorites-button:hover {
    filter: brightness(0) invert(1);
}

.currencies-list__item__number {
    flex: 0.7;
    text-align: center;
    color: #fff;
}

.currencies-list__item__name__logo__wrapper {
    flex: 0.3;
}

.currencies-list__item__name__logo, .favorites-list__item__name__logo {
    height: 19.5px;
    border-radius: 50%;
    margin-top: 4px;
}

.currencies-list__item__name {
    display: flex;
    align-items: center;
    justify-content: left;
    flex: 0.7;
    text-align: center;
    color: #fff;
}

.negative{
    color: #CB4E4E;
}

.positive {
    color: #4ECB71;
}

.currencies-list__item__market-cap {
    flex: 3;
    text-align: right;
}

.currencies-list__item__volume-24h {
    flex: 3;
    text-align: right;
}

.currencies-list__item__24h__icon__wrapper {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: right;
}

.currencies-list__item__24h__icon, .favorites-list__item__24h__icon {
    height: 10px;
}

.currencies-list__item__24h {
    flex: 0.5;
    text-align: right;
}

.currencies-list__item__dummy {
    flex: 1;
}

.currencies-list__item__price {
    flex: 2;
    text-align: right;
    color: #fff;
    font-weight: 500;
}

.currency-list__item span {
    color: #fff;
    font-family: 'Inter';
    font-weight: 300;
    margin-left: 20px;
}