* {
    margin: 0;
    box-sizing: border-box;
}

#root {
    max-width: 1512px;
    margin: auto;
}

body {
    background-color: #1e1e1e;
    background-image: url(./background.png);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.cryptocurrencies-view {
    height: calc(100vh - 88px);
}