.currency-chart__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 390px;
}

.cryptocurrencies-chart {
    width: fit-content;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid gray;
    border-radius: 10px;
}

.chart__title {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #fff;
    font-family: 'Inter';
    font-weight: 700;
    border: 1px solid gray;
    border-radius: 10px;
    height: 300px;
    width: 500px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.3);
}

.currency-pair {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 25px;
}
.currency-logo__wrapper {
    height: 25px;
}

.currency-logo {
    height: 25px;
    width: 25px;
    align-self: center;
}

.currency-price {
    font-size: 50px;
}

.chart__title__info {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.636)
}

.chart__title__info__website {
    text-decoration: none;
}